/* Make the body of the HTML page start as the full height of the window */
html, body {
    height: 100%;
}

/* BEGIN make the file input look like a bootstrap button (hide input, show button and make clicks affect input */
/* https://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3 */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    /*display: block;*/
    display:none;
}

/* Styling for our gradient bar */
.gradient {
    background: linear-gradient(to right, red, yellow, green);
    border-radius: 5px;
    height: 10px;
    padding: 5px;
    width: 50%;
    margin: auto;
}

/* Wow, a ^ symbol can look like a pointer! Sure! */
.gradient-pointer {
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    left: 50%;
}

/* Make the sidebar full height and show a scroll bar only if necessary */
.sidebar {
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Make sure the current image can't get too big */
.current-image {
    max-width: 100%;
    max-height: 300px;
}

/* Make recent images pretty small */
.recent-image {
    max-width: 100%;
    max-height: 125px;
}